section.approach
    .container
        .title.title--with-bottom-line
            h2.title__header Our Approach
            .title__text Check Our approaches step by step (how we do it)
            
        ul.approach__list
            li.approach__item
                .approach__image
                    img.approach__picture(src="../images/step-1.jpeg" alt="picture")
                    .approach__step step
                .approach__text
                    .approach__title Step 1 : Heading Here
                    p.approach__description They called him “fat boy,” this seventeen-year old apprentice in the studio of Florentine painter Verrocchio who would receive care packages from his step-father, a pastry chef. The bastard son of a Florentine notary and a lady of Vinci, the boy’s doting step-father gave him a taste for marzipans and sugars from a very young age.
            li.approach__item
                .approach__image
                    img.approach__picture(src="../images/step-2.jpg" alt="picture")
                    .approach__step step
                .approach__text
                    .approach__title Step 2 : Heading Here
                    p.approach__description They called him “fat boy,” this seventeen-year old apprentice in the studio of Florentine painter Verrocchio who would receive care packages from his step-father, a pastry chef. The bastard son of a Florentine notary and a lady of Vinci, the boy’s doting step-father gave him a taste for marzipans and sugars from a very young age.
            li.approach__item
                .approach__image
                    img.approach__picture(src="../images/step-3.jpeg" alt="picture")
                    .approach__step step
                .approach__text
                    .approach__title Step 3 : Heading Here
                    p.approach__description They called him “fat boy,” this seventeen-year old apprentice in the studio of Florentine painter Verrocchio who would receive care packages from his step-father, a pastry chef. The bastard son of a Florentine notary and a lady of Vinci, the boy’s doting step-father gave him a taste for marzipans and sugars from a very young age.
            li.approach__item
                .approach__image
                    img.approach__picture(src="../images/step-4.jpeg" alt="picture")
                    .approach__step step
                .approach__text
                    .approach__title Step 4 : Heading Here
                    p.approach__description They called him “fat boy,” this seventeen-year old apprentice in the studio of Florentine painter Verrocchio who would receive care packages from his step-father, a pastry chef. The bastard son of a Florentine notary and a lady of Vinci, the boy’s doting step-father gave him a taste for marzipans and sugars from a very young age.
